<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <div>
        <form action ='/result' method='post'>
            <label for="YourName">Your Name:</label>
            <input class="name" type="text" name ="name"><br>
            <label for="location">Dojo Location:</label>
            <select name="location">
                <option value ="Seattle"> Seattle</option>
                <option value ="Los Angeles"> Los Angeles</option>
                <option value ="Silicon Valley"> Silicon Valley</option>
                <option value ="Washington DC"> Washington DC</option>
                <option value ="Dallas"> Dallas</option>
                <option value ="Chicago"> Chicago</option>
                <option value ="Tulsa"> Tulsa</option>
                <option value ="Online"> Online</option>
            </select><br>
            <label for="language">Favorite Language: </label> 
            <select name="language">
                <option value ="Python"> Python</option>
                <option value ="Ruby on Rails"> Ruby on Rails</option>
                <option value ="C#"> C#</option>
                <option value ="Mean"> Mean</option>
                <option value ="Java"> Java</option>
                <option value ="iOS"> iOS Swift</option>
            </select><br>
            <label for="comment">Comment (optional): </label><br><br>
            <textarea name="comment" cols="30" rows="6"></textarea></p><br>
            <input class=submit type="submit" value="Submit Your Survey"><br>
        </form>
    </div>
</body>
</html>
