<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey Index</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <h4>Submitted Info</h4>
            <p>Name: <%= data.name %> </p>
            <p>Dojo Location: <%= data.location %> </p>
            <p>Favorite Language: <%= data.language %> </p>
            <p>Comment: <%= data.comment %>  </p>
        <a href="/">Go Back</a>
    </div>
      
</body>
</html>